
%mp {
  margin: 10px;
  padding: 10px;
}


%img {
  margin: 20px auto;
  border: 1px solid $color-primary;
}

%circle {
  border-radius: 50%;
}

%corner {
  border-radius: 10px;
}
